.singleTodoContainer {
  width: 250px;
  height: 180px;
  background-color: #ffff88;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.singleContainerheader {
  display: flex;
}
.singleContainerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.singleContainerContent textarea {
  background-color: transparent;
  resize: none;
  border: none;
  outline: none;
  color: var(--dark);
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
}

.singleContainerFooter {
  display: flex;
}
