.singleTodoContainer {
  width: 200px;
  height: 180px;
  background-color: var(--orange);
  display: flex;
  justify-content: center;
  border: 2px solid var(--white);
  align-items: center;
  flex-direction: column;
  position: absolute;
}
.singleContainerheader {
  display: flex;
}
.singleContainerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.singleContainerContent textarea {
  background-color: transparent;
  resize: none;
  border: none;
  outline: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.singleContainerContent img {
  position: absolute;
  top: -25px;
}

.singleContainerFooter {
  display: flex;
}
