:root {
  --dark: #11081f;
  --purple: #a456f0;
  --green: #4dcc31;
  --white: #ffffff;
}

body {
  margin: 0;
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}

h1 {
  color: var(--white);
  text-align: center;
}
h1 .titlespan {
  color: var(--green);
}
h1::before {
  content: "<";
}
h1 .titlespan::after {
  content: "/>";
}
.logo {
  color: var(--white);
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 150px;
}
.clock {
  color: var(--white);
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.button_regular {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  background-color: var(--white);
  color: var(--dark);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin: 20px;
}
.chooseFeaturePanel {
  margin-top: 150px;
}
.featureButton_notes {
  padding: 25px 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px;
  background-color: var(--green);
  color: var(--white);
}
.featureButton_games {
  padding: 25px 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px;
  background-color: var(--purple);
  color: var(--white);
}
.featureButton_todos {
  padding: 25px 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px;
}
.messageOfTheDay {
  color: white;
  text-align: center;
  border: 1px solid var(--white);
}
